<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrbeard.baseproject.aspect.mapper.InteractiveLogMapper">
    <resultMap id="InteractiveLogResultMap" type="com.mrbeard.baseproject.aspect.model.InteractiveLog">
        <id column="log_id" property="logId" jdbcType="INTEGER"/>
        <result column="requester" property="requester" jdbcType="VARCHAR"/>
        <result column="requester_name" property="requesterName" jdbcType="VARCHAR"/>
        <result column="request_time" property="requestTime" jdbcType="TIMESTAMP"/>
        <result column="request_from" property="requestFrom" jdbcType="VARCHAR"/>
        <result column="request_parameter" property="requestParameter" jdbcType="VARCHAR"/>
        <result column="response_class" property="responseClass" jdbcType="VARCHAR"/>
        <result column="response_method" property="responseMethod" jdbcType="VARCHAR"/>
        <result column="response_message" property="responseMes" jdbcType="VARCHAR"/>
        <result column="exception_message" property="exceptionMes" jdbcType="VARCHAR"/>
        <result column="interactive_spend" property="interactiveSpend" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert" parameterType="com.mrbeard.baseproject.aspect.model.InteractiveLog">
        insert into log_interactive
        (requester,requester_name,request_time,request_from,request_parameter,response_class,response_method,response_message,exception_message,interactive_spend)
        values
        (
          #{requester,jdbcType=VARCHAR}, #{requesterName,jdbcType=VARCHAR}, #{requestTime,jdbcType=TIMESTAMP},
          #{requestFrom,jdbcType=VARCHAR}, #{requestParameter,jdbcType=VARCHAR}, #{responseClass,jdbcType=VARCHAR},
          #{responseMethod,jdbcType=VARCHAR}, #{responseMes,jdbcType=VARCHAR}, #{exceptionMes,jdbcType=VARCHAR},
          #{interactiveSpend,jdbcType=INTEGER}
        )
    </insert>

    <delete id="deleteExpired">
        delete from log_interactive
        where request_time &lt; DATE_SUB(NOW(), INTERVAL 1 SECOND)
    </delete>
</mapper>